.App {
  text-align: center;
}

.Button {
  background-color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

div.char-text {
  display: inline-block;
  width: 20px;
  border: 1px solid blue;
  margin: 10px;
}